Package: messaging-client
Version: 1.6.0
Section:  misc
Priority: high
Architecture: all
Depends: sun-java6-jre | java2-runtime
Maintainer: Inmobi (databus-dev@inmobi.com)
Description: messaging-client
Distribution: aplha
